- name : dnf update
  dnf:
    name: '*'
    state: latest
    update_cache: yes

- name: Install required packages
  dnf:
    name:
      - wget
      - unzip
    state: present
    update_cache: yes

- name: Download Terraform
  get_url:
    url: https://releases.hashicorp.com/terraform/1.6.6/terraform_1.6.6_linux_amd64.zip
    dest: /tmp/terraform.zip

- name: Unzip Terraform
  unarchive:
    src: /tmp/terraform.zip
    dest: /usr/local/bin/
    remote_src: yes

- name: Ensure terraform is executable
  file:
    path: /usr/local/bin/terraform
    mode: '0755'
    state: file


